.ApartmentList {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-column-gap: 60px;
  grid-row-gap: 30px;

  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 1200px) {
  .ApartmentList {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 0px;
  }
}

@media (max-width: 767px) {
  .ApartmentList {
    flex-direction: column;
    align-content: center;
  }
}