.ApartmentItem {
  position: relative;
  margin-right: 20px;
  width: 350px;

  background-color: #ffffff;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-out;
  animation: fadeAnimation 0.2s;
  
  &:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  }

  &:hover .Photo img {
    transform: scale(1.1);
  }

  &:last-child {
    margin-right: 0;
  }

  a {
    text-decoration: none;
  }
}

.Photo {
  margin-bottom: 15px;
  min-height: 150px;

  overflow: hidden;
  
  img {
    display: block;
    transition: transform 0.4s ease-in-out;
  }
}

.LikeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 20;

  background-color: transparent;
  border: none;

  cursor: pointer;

  svg {
    transition: transform 0.2s;
  }

  svg:hover {
    transform: scale(1.1);
  }
}

.LikeActive {
  svg path {
    fill: #0277BD;
  }
}

.Title {
  margin-top: 0;

  color: #2574b1;
  font-weight: 700;
  text-decoration: none;
  text-align: center;

  transition: color 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: darken(#2574b1, 20%);
  }
}

@media (max-width: 767px) {
  .ApartmentItem {
    margin-right: 0;
    margin-bottom: 10px;

    width: 100%;
  }
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
