.ApartmentDetails {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Row {
  display: flex;

  margin-bottom: 20px;
}

.ColumnLeft {
  margin-right: 20px;
}

.Photo {
  max-width: 500px;
  height: auto;

  img {
    display: block;
  }
}

.ColumnRight {

}

.ApartmentInfo {
  display: flex;
  flex-direction: column;

  height: 100%;

  a {
    margin-top: auto;
  }

  div {
    margin-bottom: 10px;
  }
}

.Description {
  text-align: justify;
  line-height: 1.4;
}

@media (max-width: 1200px) {
  .ColumnLeft {
    flex-basis: 50%;
  }
}

@media (max-width: 767px) {
  .Row {
    flex-direction: column;
  }

  .ColumnLeft {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-right: 0;
  }

  .ApartmentInfo {
    min-height: 200px;
  }

  .Photo {
    margin-bottom: 20px;
    max-width: 100%;
  }
}